// In dieser Datei werden einfache Presets geladen, diese Datei kann
// sofen das Projekt für ein wirkliches Projekt als Grundlage
// dient einfach gelöscht werden.

:root {
	--prime: 255, 110, 72;
	--ciBlue: 0, 255, 241;
	--ciRed: 255, 0, 170;
	--ciWhite: 255, 255, 255;
	--ciGreen: 70, 252, 180;
	--ciSecond: 12, 16, 22;
}

$roboto: "Roboto";

@font-face {
	font-family: $roboto;
	src: url("https://assets.codepen.io/907368/Roboto-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: $roboto;
	src: url("https://assets.codepen.io/907368/Roboto-Regular.ttf");
	font-weight: 500;
}

@font-face {
	font-family: $roboto;
	src: url("https://assets.codepen.io/907368/Roboto-Light.ttf");
	font-weight: 300;
}

body,
html {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(var(--ciSecond));
	font-size: 20px;
	margin: 0;
	padding: 0;
	color: rgb(var(--ciWhite));
	font-family: $roboto;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

// Tutorial Start
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12rem;
	padding: 5rem;
	@media (max-width: 900px) {
		gap: 2rem;
		padding: 3.5rem;
	}
    .presentation {
		border: 8px solid #ff0000; 
		
	}
	.container {
		width: 100%;
		max-width: 1200px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10rem;
		@media (max-width: 900px) {
			flex-direction: column;
			gap: 2rem;
		}
		&:nth-child(2) {
			@media (max-width: 900px) {
				flex-direction: column-reverse;
			}
		}
		div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: 50%;
			@media (max-width: 900px) {
				width: 100%;
			}
			&.content {
				justify-content: center;
			}

			h3,
			h4 {
				margin: 0;
				padding: 0;
			}

			p {
				opacity: 0.5;
				line-height: 1.6rem;
			}
			img {
				width: 100%;
				aspect-ratio: 4 / 5;
				border-radius: 2rem;
				object-fit: cover;
			}
		}
	}
}




* {
  box-sizing: border-box;
}

.animated-image{
  width: 250px;
  height: 350px;
  position: relative;
  z-index: 2;
  border-radius: 20px;
}
 .animated-image {
  width: 100%;
  height: 100%;
  background-color: #0c1016;
  border-radius: 15px;
}
.animated-image::before, .animated-image::after {
  content: "";
  width: 260px;
  height: 360px;
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  background-image: linear-gradient(0, #ff00aa, #00FFF1);
  background-size: 100% 200%;
  background-position: center center;
  top: -5px;
  left: -5px;
  animation: spin 3000ms infinite alternate;
}
.container::after {
  filter: blur(125px);
}

@keyframes spin {
  0% {
    background-position: top center;
  }
  100% {
    background-position: bottom center;
  }
} 